In [1]:
import pandas as pd

In [2]:
model=model = pd.read_pickle('HousePricePredictor')

In [3]:
model

LinearRegression()

In [4]:
cols=['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms', 'Area Population']

In [8]:
income = eval(input('Enter the income: '))
house_age=eval(input('Enter the house age: '))
rooms= eval(input('Enter the no of rooms: '))
population=eval(input('Enter the population: '))
query=pd.DataFrame({'Avg. Area Income':[income],
                          'Avg. Area House Age':[house_age],
                          'Avg. Area Number of Rooms':[rooms], 
                          'Area Population':[population]})

Enter the income:  85000
Enter the house age:  9
Enter the no of rooms:  7
Enter the population:  40000

In [9]:
query

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population
0,85000,9,7,40000

In [10]:
model.predict(query)[0]

2146270.688386647

In [12]:
print('Price for the house can be: %.1f$'%(model.predict(query)[0]))

Price for the house can be: 2146270.7$